*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  #89d9b7;
}
  a{
    text-decoration: none;
}
hr{
    margin: 0 0 10px 0;
}
.row{
    background-color: #ffffff;

}